:root {
	--primary: #F7F9FB;
	--secondary: #36454F;
	--tertiary: #8FC1E3;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
}

img {
	width: 100%;
	height: auto;
	padding-bottom: 15px;
}

hr {
	border-top: 1px solid var(--tertiary);
}

.links {
	text-align: center;
}

a {
	color: var(--secondary);
	text-decoration: underline; 
}

a:hover {
	color: var(--tertiary);
}

.name {
	font-weight: bold;
	color: var(--secondary);
	text-align: center;
}

.description {
	text-align: justify;
}

.spacer {
	background-color: var(--tertiary);
	padding: 30px;
	margin: 40px 0 90px 0;
}

.designed {
	font-size: 5%;
	text-align: center;
	font-weight: bold;
	margin: 0 0 20px 0;
	color: var(--secondary);
}

.img-dsc {
	text-align: center;
	font-size: 0.75em;
}

.minesweep-link:hover {
	color: var(--secondary);
	font-weight: bold;
}

.classes {
	font-weight: bold;
	margin: 0 auto 40px;
	text-align: center;
}

.no-decoration {
	text-decoration: none;
}
.no-decoration:hover {
	color: var(--primary);
}

.header {
	background: var(--primary);
	padding-top: 15px;
}

.content {
	margin-top: 30px;
}

.footer {
	background: var(--primary);
	text-align: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

.icon {
	height: 30px;
	width: 30px;
}

.moving {
	text-align: right;
	font-style: italic;
}

